body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.mapContainer {
  width: 60vw;
  height: 60vh;
}

.marker {
  background-image: url('https://lh3.googleusercontent.com/proxy/Hx2pyywuzsKjyXiLQExN4jdgz70Y7CUr0UG5gcgIfk3CWhz9JgAUpIJlH37dRJHNueiINQtDzY57SJKMN9X9kD0sdxNDVPLv2azyu2YgiaqFStQRp-1XvyQ0JyhYXCqM4JtOipeuJfvY');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
